:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

// Progress bar animations
::ng-deep .p-progressbar-value {
  transition: width 0.5s ease-out;
}

// Tab panel backgrounds
::ng-deep .p-tabpanels {
  background: transparent;
  padding: 0;
}

::ng-deep .p-tabpanel {
  padding: 0;
}
