<!-- <div class="h-screen w-screen bg-neutral-900 flex overflow-hidden">
    <div class="flex-1 overflow-auto p-3 pb-36 justify-center">

        @if (isConversationEmpty()) {
        <div class="text-center text-4xl mt-12 bg-emerald-700">
            Let's build your profile!
        </div>

        <div class="mt-12 max-w-3xl mx-auto">
            <p class="mb-4">
                Welcome to the Job Finder module! Here, you can input your skills,
                experience, and preferences to find job opportunities that align
                with your profile.
            </p>
            <p>
                Simply type or paste your information into the textarea below, and
                our AI-powered system will analyze your profile to suggest the best
                job matches for you.
            </p>
        </div>
        } @else {
        <div class="max-w-3xl mx-auto mt-6">
            @for (qa of getConversation(); track $index) {
            <div class="mb-12">

                <div class="flex justify-end mb-4">
                    <div class="px-4 py-2 rounded-2xl border border-gray-300/40 bg-neutral-200/10">
                        {{ qa.question }}
                    </div>
                </div>

                <div class="mb-2 p-2 rounded-xl bg-emerald-700/10 border-b border-gray-600">
                    <h4 class="text-md font-semibold">Summary</h4>
                    <p>{{ qa.summary }}</p>
                </div>

                <div class="mb-2">
                    <p-accordion>
                        <p-accordion-panel value="1">
                            <p-accordion-header>Reasoning</p-accordion-header>
                            <p-accordion-content>
                                <p>{{ qa.reasoning }}</p>
                            </p-accordion-content>
                        </p-accordion-panel>
                    </p-accordion>
                </div>

                <div class="mt-6">
                    <p>{{ qa.answer }}</p>
                </div>

            </div>
            }
        </div>
        }

    </div>

    <div class="
        fixed md:absolute
        bottom-20 left-0 md:left-auto
        w-full md:w-full
        p-3
        bg-neutral-900
      ">

        <div class="mb-4 max-w-3xl mx-auto">
            <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                (onUpload)="handleUpload($event)" />
                <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
        </div>
        <div class="rounded-2xl bg-neutral-800 max-w-3xl mx-auto">
            <textarea rows="1" [(ngModel)]="textareaValue" class="
            w-full p-2 pr-20 pb-5
            resize-none
            max-h-40
            overflow-y-auto
            bg-transparent
            focus:outline-none
          " placeholder="Type here..."></textarea>

            <div class="flex justify-end gap-2 p-2 rounded-2xl">
                <button pButton>
                    <i class="pi pi-send" pButtonIcon></i>
                    <span pButtonLabel>Submit</span>
                </button>
<p-button class="p-1 rounded-full hover:bg-gray-200"/>
            <p-button pButtonIcon="pi pi-paper-plane"/> 
            </div>
        </div>
    </div>
</div> -->

<p-toast></p-toast>
<div class="h-screen w-screen flex-col overflow-hidden justify-center items-center">
    <div class="w-full p-3 flex justify-between items-center">
        <div>
            <p-inplace>
                <ng-template #display>
                    <span class="inline-flex items-center gap-2">
                        <span class="pi pi-pen-to-square" style="vertical-align: middle"></span>
                        <span class="ml-1">Title</span>
                    </span>
                </ng-template>
                <ng-template #content>
                    <p-inputgroup>
                        <input pInputText placeholder="Vote" value="some text" />
                        <p-inputgroup-addon>
                            <p-button icon="pi pi-check" severity="secondary" />
                        </p-inputgroup-addon>
                    </p-inputgroup>
                </ng-template>
            </p-inplace>
        </div>

        <div class="flex gap-2">
            <button pButton>
                <i class="pi pi-download" pButtonIcon></i>
                <span pButtonLabel>Export</span>
            </button>

            <button pButton>
                <i class="pi pi-share-alt" pButtonIcon></i>
                <span pButtonLabel>Share</span>
            </button>
        </div>
    </div>
    <div class="flex w-full h-full justify-center p-2 border border-gray-100/10">
        <div class="w-1/2">
            <div class="p-5 bg-emerald-700 rounded-xl">
            </div>
            <div class="p-1 justify-center items-center">
                <p-skeleton class="mb-2" height="8rem" />
                <p-skeleton width="25rem" height="10rem" class="mb-2" />
                <p-skeleton width="5rem" class="mb-2" />
                <p-skeleton height="2rem" class="mb-2" />
                <p-skeleton width="10rem" height="4rem" />
            </div>
        </div>


        <div class="w-1/2 gap-4 p-3  overflow-y-scroll">
            <form [formGroup]="profileForm" (ngSubmit)="submitProfileFrom()">
                <div class="mb-8 w-2/3 flex justify-between ">
                    <p-fileupload #fu mode="basic" chooseLabel="Upload your CV" chooseIcon="pi pi-upload" name="demo[]"
                        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                        (onUpload)="handleUpload($event)" />
                    <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
                </div>
                <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-2 border border border-gray-100/10">

                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-user"></i>
                        </p-inputgroup-addon>
                        <input formControlName="firstName" pInputText class="w-full p-1 bg-neutral-200/10" />
                    </p-inputgroup>

                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-user"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="lastName" class="w-full p-1 bg-neutral-200/10" />
                    </p-inputgroup>

                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-phone"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="phone" class="w-full p-1 bg-neutral-200/10" />
                    </p-inputgroup>

                    <p-inputgroup>
                        <p-inputgroup-addon>
                            <i class="pi pi-map"></i>
                        </p-inputgroup-addon>
                        <input pInputText formControlName="city" class="w-full p-1 bg-neutral-200/10"
                            placeholder="Location" />
                    </p-inputgroup>
                </div>
                <div class="mt-5">
                    <p-accordion value="0" multiple="true">
                        <p-accordion-panel value="0">
                            <p-accordion-header>Links</p-accordion-header>
                            <p-accordion-content>
                                <div class="flex flex-col gap-2">
                                    <label for="username">LinkedIn</label>
                                    <input pInputText formControlName="linkedin"
                                        class="w-full p-1 bg-neutral-200/10 h-10" id="username"
                                        aria-describedby="username-help" />
                                    <!-- <small id="username-help">Enter your username to reset your password.</small> -->
                                </div>
                                <div class="flex flex-col gap-2 mt-6">
                                    <label for="username">Github</label>
                                    <input pInputText formControlName="github" class="w-full p-1 bg-neutral-200/10 h-10"
                                        id="username" aria-describedby="username-help" />
                                </div>
                            </p-accordion-content>
                        </p-accordion-panel>

                        <p-accordion-panel value="1">
                            <p-accordion-header>Experience</p-accordion-header>
                            <p-accordion-content>
                                <div formArrayName="experience" class="w-full">
                                    <div *ngFor="let exp of experience.controls; let i = index" [formGroupName]="i"
                                        class="w-full mb-4 border border-gray-100/10 p-3 rounded">
                                        <div class="flex justify-between items-center mb-2">
                                            <h3>Experience {{ i + 1 }}</h3>
                                            <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                                                (click)="removeExperience(i)"></button>
                                        </div>
                                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mb-3">
                                            <p-inputgroup class="mb-2">
                                                <p-inputgroup-addon><i class="pi pi-briefcase"></i></p-inputgroup-addon>
                                                <input pInputText class="w-full bg-neutral-200/10 text-ellipsis"
                                                    formControlName="title" placeholder="Job Title" />
                                            </p-inputgroup>
                                            <p-inputgroup class="mb-2">
                                                <p-inputgroup-addon><i class="pi pi-building"></i></p-inputgroup-addon>
                                                <input pInputText class="w-full bg-neutral-200/10 p-2"
                                                    formControlName="company" placeholder="Company Name">
                                            </p-inputgroup>
                                            <p-inputgroup class="mb-2">
                                                <p-inputgroup-addon><i class="pi pi-calendar"></i></p-inputgroup-addon>
                                                <p-datepicker variant="filled" view="month" dateFormat="mm/yy"
                                                    [readonlyInput]="true" />
                                            </p-inputgroup>
                                            <p-inputgroup class="mb-2">
                                                <p-inputgroup-addon><i
                                                        class="pi pi-map-marker"></i></p-inputgroup-addon>
                                                <input pInputText class="w-full bg-neutral-200/10" `
                                                    formControlName="location" placeholder="Location">
                                            </p-inputgroup>
                                        </div>
                                        <!-- <p-floatlabel variant="on" class="my-5">
                                            <textarea pTextarea id="on_label" rows="3" cols="50" style="resize: none"
                                                class="h-full"></textarea>
                                            <label for="on_label">Description</label>
                                        </p-floatlabel> -->

                                        <!-- Tags -->
                                        <!-- <div formArrayName="tags" class="mb-2">
                                            <label>Tags:</label>
                                            <div *ngFor="let tag of exp.get('tags').controls; let t = index"
                                                class="flex gap-2 mb-1">
                                                <input pInputText [formControlName]="t" placeholder="Tag">
                                                <button pButton type="button" icon="pi pi-times" class="p-button-danger"
                                                    (click)="removeTag(i, t)"></button>
                                            </div>
                                            <button pButton type="button" label="Add Tag" (click)="addTag(i)"></button>
                                             </div> -->

                                        <!-- Bullets -->
                                        <div formArrayName="bullets">

                                            <div *ngFor="let bullet of getBullets(exp).controls; let b = index"
                                                class="flex gap-2 mb-1">
                                                <input pInputText [formControlName]="b"
                                                    class="w-full p-1 bg-neutral-200/10 rounded-r-2xl text-ellipsis">
                                                <button pButton type="button" icon="pi pi-times" class="p-button-danger"
                                                    (click)="removeBullet(i, b)"></button>
                                            </div>
                                            <button pButton type="button" label="Add Bullet" icon="pi pi-plus"
                                                severity="secondary" (click)="addBullet(i)"></button>
                                        </div>

                                    </div>
                                </div>

                                <button pButton type="button" label="Add Experience" icon="pi pi-plus"
                                    (click)="addExperience()"></button>

                            </p-accordion-content>
                        </p-accordion-panel>
                        <p-accordion-panel formArrayName="projects">
                            <p-accordion-header>Projects</p-accordion-header>
                            @for (proj of projects.controls; track $index) {
                            <p-accordion-content [formGroupName]="$index">
                                <div class="flex flex-col gap-2 my-6">
                                    <label for="project_title">Title</label>
                                    <input pInputText class="w-2/3 bg-neutral-200/10 h-10" id="project_title"
                                    formControlName="name"
                                        aria-describedby="username-help" />
                                </div>
                                <p-floatlabel variant="on">
                                    <textarea pTextarea id="on_label" rows="5" cols="72" style="resize: none"
                                       formControlName="description"  class="h-full"></textarea>
                                    <label for="on_label">Description</label>
                                </p-floatlabel>
                            </p-accordion-content>
                            }

                        </p-accordion-panel>
                    </p-accordion>
                    <button pButton type="submit" icon="" label="save"></button>
                </div>

            </form>
        </div>

    </div>
</div>