@use 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}


.drawer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
